[submodule "ext/argparse"]
	path = ext/argparse
	url = ../../p-ranav/argparse.git
	ignore = dirty
[submodule "ext/clipper"]
	path = ext/clipper
	url = ../../AngusJohnson/Clipper2.git
	ignore = dirty
[submodule "ext/fmt"]
	path = ext/fmt
	url = ../../fmtlib/fmt.git
	ignore = dirty
[submodule "ext/mimalloc"]
	path = ext/mimalloc
	url = ../../microsoft/mimalloc.git
	ignore = dirty
[submodule "ext/mio"]
	path = ext/mio
	url = ../../mandreyel/mio.git
	ignore = dirty
[submodule "ext/msgpack"]
	path = ext/msgpack
	url = ../../msgpack/msgpack-c.git
	ignore = dirty
[submodule "ext/onnxruntime"]
	path = ext/onnxruntime
	url = ../../microsoft/onnxruntime.git
	ignore = dirty
[submodule "ext/opencv"]
	path = ext/opencv
	url = ../../opencv/opencv.git
	ignore = dirty
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = ../../gabime/spdlog.git
	ignore = dirty
