[submodule "externals/fmt"]
	path = externals/fmt
	url = git@github.com:fmtlib/fmt.git
	ignore = dirty
[submodule "externals/mio"]
	path = externals/mio
	url = git@github.com:mandreyel/mio.git
	ignore = dirty
[submodule "externals/argparse"]
	path = externals/argparse
	url = git@github.com:p-ranav/argparse.git
	ignore = dirty
[submodule "externals/spdlog"]
	path = externals/spdlog
	url = git@github.com:gabime/spdlog.git
	ignore = dirty
[submodule "externals/torch/vision"]
	path = externals/torch/vision
	url = git@github.com:pytorch/vision.git
[submodule "externals/torch/pytorch"]
	path = externals/torch/pytorch
	url = git@github.com:pytorch/pytorch.git
